<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
	
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="File" fileName="logs/selenium.log" append="false"><!-- here append = false means if i rnu the 
		program then the log file are overwrite but if i change false to 
		true then the how many time u want to run the the file are automatically append not overwrite-->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>

	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>
